<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> MDC </title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="{%static 'diagnosticcenter/css/popup_form_style.css'%}">



  <style>
    /* BACKGROUND IMAGE STARTS  */
    /* 
body {
  height: 100%;
  margin: 0;
} */

    .bg {
      /* The image used */
      background-image: url("{%static 'diagnosticcenter/images/MDC3.jpeg'%}");

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }


    /* BACKGROUND IMAGE ENDS */

    .w-100 {
      width: 100%;
      height: 60vh;
    }

    /*   
  body{
     background-image: linear-gradient(to right,rgb(228, 212, 152),rgb(123, 106, 21)); 
    
  } */

    .card-img-top {
      height: 15vw;
      /* height:15vw; */
      object-fit: cover;
    }
  </style>

</head>


<body>

  <div class="bg">

    <div class="container-fluid ">

      <h1 style="text-align: center ; font-family: Broadway;" class="text-danger"> <i
          class="fad fa-clinic-medical"></i>MEDLIFE DIAGNOSTIC CENTER <i class="fad fa-clinic-medical"></i></h1>
      <!-- <i class="fas fa-home"></i> -->

    </div>




    <!--NAVBAR STARTS FROM HERE -->

    {% include 'diagnosticcenter/html/dc_navbar.html'%}

    <!--NAVBAR ENDS HERE -->

    <div class="container">


      <!-- <div class="card bg-dark text-white" >
  <img src="{%static 'diagnosticcenter/images/MDC3.jpeg'%}">  -->

      <!--IT'S FOR JOB-->

      <div class="container mt-3">
        <!-- <h3>Modal Example</h3>
  <p>Click on the button to open the modal.</p>
   -->
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal" id="jobdiv">
          Looking for a Job
        </button>
      </div>

      <!-- The Modal -->

      <div class="modal" id="myModal" style="margin: left;">
        <div class=" modal-dialog">
          <div class="modal-content ">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" style="color:darkblue"> Given Vacancies for Job :</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body " style="width: 400px;height:800px;color: blueviolet;">

              {% for j1 in job_data%}

              <div class="col mb-2" style="color: rgb(86, 6, 102);font-family: 'Times New Roman', Times, serif;">
                <div class="card ">

                  <!-- <div class="card h-100" style="color: rgb(86, 6, 102);"> -->
                  <!--<img src="..." class="card-img-top" alt="...">-->
                  <div class="card-body">
                    <h5 class="card-title">{{j1.PostName}}</h5>
                    <p class="card-text">Seats:{{j1.NoOfseats}}</p>
                    <p class="card-text">LastDate:{{j1.Lastdatetoapply}}</p>
                    <p class="card-text">Joining:{{j1.Postdate}}</p>
                    <p class="card-text">Info:{{j1.Description}}</p>
                  </div>
                </div>
              </div>
              {%endfor%}

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="close" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>




      <!--OF JOB-->

      <!--POPUP CODE STARTS HERE-->

      <button class="open-button" onclick="openForm()" id="appointdiv" > Appointment </button>


      <div>

        <!-- MESSAGE CODE -->

        {% if messages %}

        {% for m in messages %}



        <div class="row justify-content-center mt-9" style="margin-top:60px;">
          <div class="col-6">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>{{m}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>

        {% endfor %}

        {%endif%}


        <!-- MESSAGE CODE -->


        <!-- <div class="form-control  row mt-3 bg-danger "style= " width:500px; height:500px; "  > -->

        <!-- 
    <div class="form-popup" id="appointdiv"> -->
        <div class="form-popup" id="myForm">
          <form method="POST" action="/appointment/" class="container" class="needs-validation" novalidate>
            {% csrf_token %}
            <!-- <h1>Login</h1> -->
            <button type="close" class="btn-close" data-bs-dismiss="form-popup"></button>
            <div class="mb-3 mt-3 row">
              <label for="inputName" class="col-sm-3 col-form-label"> Name </label>
              <div class="col-sm-13">
                <input type="text" required class="form-control" name="txtname" id="inputName"
                  placeholder="Enter Your Name">
                <!-- <div class="invalid-feedback"> -->


              </div>
            </div>

            <div class="mb-3 mt-3 row">
              <label for="inpute-mail" class="col-sm-3 col-form-label"> Phone </label>
              <div class="col-sm-13">
                <input type="number" required class="form-control" name="txtphone" id="inpute-mail"
                  placeholder="Enter Your PhoneNo.">


                <div class="invalid-feedback">
                  Please provide your Phone No.
                </div>
              </div>
            </div>


            <div class="mb-3 mt-3 row">
              <label for="inpute-mail" class="col-sm-3 col-form-label"> E-mail </label>
              <div class="col-sm-13">
                <input type="email" required class="form-control" name="txtemail" id="inpute-mail"
                  placeholder="Enter Your E-mail">


                <div class="invalid-feedback">
                  Please provide your e-mail
                </div>
              </div>
            </div>

            <div class="mb-3 mt-3 row">
              <label for="exampleInputEmail1" class="col-sm-3 col-form-label">Test Name</label>
              <div class="col-sm-13">
                <select class="form_select" name="cmbtestname">
                  <option value="default">Select your test</option>

                  {% for t1 in test_key %}
                  <option value="{{t1.Test_name}}">{{t1.Test_name}}</option>

                  {% endfor %}

                </select>
              </div>
            </div>

            <!-- RADIO BUTTON  -->

            <div class="mb-3 mt-3 row ">
              <label for="exampleInputEmail1" class="form-label" style="font-size :20px;">Booking Type</label>
              <input type="radio" required="required" class="form-check-input " name="bookingtype"
                value="SampleCollection" />
              <label class="form-check-label" for="MaleLabel">
                Sample Collection
              </label>
              <input type="radio" required class="form-check-input" name="bookingtype" value="AppointmentForTest" />
              <label class="form-check-label" for="FemaleLabel">
                Appointment For Test
              </label>

            </div>


            <!-- RADIO BUTTON -->


            <button type="submit" class="btn btn-success">Submit</button>
            <!-- <button type="button" class="btn cancel" onclick="closeForm()">Close</button> -->
          </form>
        </div>
      </div>
      <!-- </div> -->


      <!-- POPUP CODE ENDS HERE -->

      <!-- HEALTH HealthCampaign -->
      <div class="container-fluid  mt-3 " style="background-color:rgb(124, 156, 220); height:400px;">
        <h2 style="font-size: 40px;color:rgb(144, 0, 170); text-align:center; font-family: 'Times New Roman', Times, serif;"><b>
            HealthCampaign </b></h2>
        <div class=" row row-cols-1 row-cols-md-3 g-4 mt-1 " id="healthdiv">

          {% for h1 in health_data%}
          <div class="col mb-2">

            <div class="card h-100" style="background-color:rgb(62, 72, 100) ;">

              <div class="card-body">
                <h5 class="card-title">{{h1.Campaign_Name}}</h5>
                <p class="card-text">Organized By:{{h1.Organizer_name}}</p>
                <p class="card-text">Campaign Venue:{{h1.Venue}}</p>
                <p class="card-text">Campaign Description:{{h1.Description}}</p>
                <p class="card-text">Campaign Date:{{h1.Date}}</p>
              </div>
            </div>
          </div>

          {%endfor%}

        </div>

      </div>
      <!-- HEALTH COMPAIGN -->



    </div>
  </div>
  <!-- CARD  CODE STARTS HERE -->

  <!-- <hr style=" border-width: 5px;border-color: brown ;border-style: solid;"> -->
  <div class="container-fluid  mt-3 " style="background-color:rgb(255, 221, 141)">
    <h2 style="color:rgb(10, 149, 61); text-align:center; font-family: 'Times New Roman', Times, serif;"><b><u> Some
          Tests</u></b></h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-1 " id="testdiv">
      {% for t1 in test_key%}
      <div class="col mb-2">
        <div class="card h-100" style="background-color:rgb(255, 215, 163) ;">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">{{t1.Test_name}}</h5>
            <p class="card-text">Charge:{{t1.Charge}}</p>
            <p class="card-text">Pre-preparation:{{t1.Test_condition}}</p>
          </div>
        </div>
      </div>

      {%endfor%}
    </div>

  </div>

  <!-- CARD CODE ENDS HERE -->

  <hr style=" border-width: 5px;border-color:black ;border-style: solid;">


  <!-- ACCORDIAN CODE STARTS HERE -->

  <div class="accordion accordion-flush" id="faqdiv">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <b> What are the services of MedLife Diagnostic Centre ?</b>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> DiagnosticCentres.in provides complete information about Diagnostic Centres, Health
          Packages and Pathology Tests Pan India basis.

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">

          <b>Is the Quality of Test Results / Reports compromised because of Discount?</b>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">The Quality of the test results / reports is same as provided to the other customers
          by the respective labs. Infact, in most cases services extended to DiagnosticCentres.in patients is better due
          to our continued relationship with the labs.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <b>Can I book for someone else?</b>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <solid>You can book for yourself, for family and for friends.</solid> There is no limitation on the number of
          people for whom you book tests.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">

          <b>How do I apply for a CLIA certificate so that my testing facility can perform SARS-CoV-2 testing? </b>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">The federal CLIA program contracts with states to carry out certain oversight and
          recording functions of the CLIA program. The state in which the laboratory is located processes applications
          for CLIA certificates. After the laboratory has identified a qualified and certified laboratory director and
          has provided all required information on the CMS-116 application, a CLIA number will be assigned and the
          laboratory can begin testing if applicable CLIA requirements have been met. For additional information, please
          refer to the FAQs on the CMS website: CMS Coronavirus Information.</div>
      </div>
    </div>

  </div>

  <!-- ACCORDIAN CODE ENDS HERE -->

  <!-- </div> -->

  <!-- FOOTER CODE STARTS HERE -->
  {%include 'diagnosticcenter/html/dc_footer.html'%}

  <!-- FOOTER CODE ENDS HERE -->
  </div>

  <script src="{% static 'diagnosticcenter/js/js_popup_form.js'%}"></script>
  <script src="{% static 'diagnosticcenter/js/validation.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>

  
</body>

</html>