<html lang="en">
    {% load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body style="background-image:linear-gradient(rgb(165, 209, 195),rgb(106, 190, 163),rgb(8, 184, 128))">
    {%include 'diagnosticcenter/html/dc_navbar.html'%}

    <div class=" container-fluid mt-4 ">
            
            <h2 class="text-dark" style="text-align:center ; font-family: Algerian "> OTHER SERVICES ARE: </h2>
        </div>
    
    
        <!-- CARD CODE STARTS HERE  -->
        <div class="card-group">
            <div class="card">
              <img src="{%static 'diagnosticcenter/images/Ambulance1.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ambulance</h5>
                <p class="card-text">Ambulance services have become an indispensable part of healthcare organizations. These medical transport services are widely dedicated to saving lives. All countries possess this valuable asset. Even when the traffic is heavy, one can see racing ambulances with loud sirens. We don't understand the value of emergency services until we face critical situations.

                    During the old times, the ambulance was only used in war fields. But, now it's present all around the world. And there are various types of medical transport services too. Apart from the typical ambulance, there are bike ambulances and air ambulances. During the Chennai floods, there was a necessity to have boats for rescue. So, there is a need to explore the usage of boat ambulances. Especially in places connected through water, the only means of transport to the nearby hospital is through boats.Helping patients who need emergency medical help in critical moments. Helping them reach the hospital on time and thus helping them. Private and public ambulance transport services. Today are operating as an indispensable service serving critical patients in critical moments.                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="{%static 'diagnosticcenter/images/Cafeteria1.jpeg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Canteen</h5>
                <p class="card-text"><b>"Sorry, there ́s no magic bullet. You gotta eat healthy and live healthy to be healthy and look healthy. End of story."
                </b> The Hospital has a well-equipped Catering Facility for Patients, their Relatives, Doctors & Staff and even for any walk-in person. The primary aspect of canteen is to provide quality and hygienically safe food to all who come in.the food package is included in the room rent. We do not charge anything extra for diet provide the best diet which is also individualised according to the patients’ need supervised by the Dieticians. The dietician takes the round and suggests a suitable type of diet depending upon the type of illness and the calorific and nutritive requirements of the patient. This information is then passed on to the Food Service Department and a complete day’s diet is provided to the patient in the room itself, from the next immediate service to the patients.


    
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="{%static 'diagnosticcenter/images/RestRoom1.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">RestRoom</h5>
                <p class="card-text"><b>"A clean-looking restroom is a key factor in the image and reputation of your facility. A sanitary restroom is vital to the health and well-being of everyone who visits it."</b>Other common issueswith restrooms can be the quality of the products installed, odors, alack of ventilation, and appearance, which sometimes deterioratesbecause of paper towels left on the floor or clogged, leaking soapdispensers at the sink. Another area of growing concern among users ofpublic restrooms is cleanliness and sanitation. Individuals who aresick and contagious can potentially spread their germs by touching suchthings as faucets, sinks, paper towels, and soap dispensers.Some public restrooms evencontinue the no touch philosophy by installing door less entryways.This automated initiative prevents the need for freshly washed hands tograb dirty door handles as the user leaves the restroom.



 
    
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
    

          <footer class="footer fixed-bottom">
  

            <!-- FOOTER CODE STARTS HERE -->
            {%include 'diagnosticcenter/html/dc_footer.html'%}
            
            <!-- FOOTER CODE ENDS HERE -->
            </footer>
            
            
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>


</body>
</html>